<template>
  <v-dialog
    :value="showModal"
    @input="$emit('input', $event)"
    persistent
    max-width="500"
  >
    <v-card>
      <v-card-title>Ajouter un commentaire</v-card-title>
      <v-form v-model="valid">
        <v-textarea
          class="input-field"
          counter
          auto-grow
          type="text"
          color="#fde74c"
          v-model="commentaire"
          label="Commentaire"
          required
        />
        <v-btn :disabled="!this.valid" @click="submit()">
          <v-text>Envoyer</v-text>
          <v-icon>mdi-send</v-icon>
        </v-btn>
      </v-form>
      <v-card-actions>
        <v-btn class="purple-btn" flat @click="close()">Fermer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    showModal: {
      type: Boolean,
      default: false,
    },

    idQuestion: {
      type: Number,
      default: 1,
    },
  },
  data: () => {
    return {
      valid: false,
      commentaire: '',
    };
  },

  methods: {
    submit() {
      this.commentaire = '';
    },

    close() {
      this.$emit('close-dialog');
    },
  },
});
</script>

<style scoped></style>
