<template>
  <footer>
    <v-text
      >Site codé par
      <a
        class="cool-link"
        href="https://twitter.com/alsagone"
        target="_blank"
        rel="norelopener noreferrer"
        >@alsagone</a
      ></v-text
    >

    <a id="ko-fi" href="https://ko-fi.com/alsagone" target="_blank"
      ><img
        height="36"
        style="border: 0px; height: 36px"
        src="https://cdn.ko-fi.com/cdn/kofi3.png?v=3"
        border="0"
        alt="Buy Me a Coffee at ko-fi.com"
    /></a>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style scoped>
@import 'assets/styles/footer.css';
</style>
