<template>
  <v-app-bar class="navbar" color="transparent" flat tile dark>
    <v-spacer />

    <v-btn class="purple-btn" to="/inscription">
      <v-icon>mdi-account</v-icon>
      <v-text>Inscription</v-text>
    </v-btn>

    <v-btn to="/connexion">
      <v-icon>mdi-login</v-icon>
      <v-text>Connexion</v-text>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style scoped>
@import 'assets/styles/navbar.css';
</style>
