<template>
  <div class="preview">
    <div class="contenu">
      <v-icon>{{ this.question.getIcon() }}</v-icon>
      <a
        class="titre cool-link"
        :href="this.question.getLink()"
        ref="noreferrer norelopener"
        target="_blank"
        >{{ this.question.titre }}</a
      >
      <div class="infos">
        <span class="publication">
          <v-icon>mdi-calendar-outline </v-icon>
          <v-text>{{ this.question.getDateStr() }}</v-text></span
        >
        <span class="commentaires">
          <v-icon>mdi-comment-multiple</v-icon>
          <v-text>{{ this.question.nbCommentaires }}</v-text>
        </span>
        <span class="delta-votes"
          ><v-icon>mdi-thumbs-up-down </v-icon
          ><v-text>{{ this.question.getVoteDelta() }}</v-text></span
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Question } from '~/assets/scripts/question';

export default Vue.extend({
  props: {
    question: Question,
  },

  methods: {},
});
</script>

<style scoped>
@import 'assets/styles/preview.css';
</style>
