<template>
  <v-dialog
    :value="showModal"
    @input="$emit('input', $event)"
    persistent
    max-width="500"
  >
    <v-card>
      <v-card-title>Pose ta question!</v-card-title>
      <v-form v-model="valid">
        <v-textarea
          class="input-field"
          counter
          auto-grow
          type="text"
          color="#fde74c"
          v-model="question.titre"
          label="Titre"
          :rules="[checkTitre]"
          required
        />
        <v-textarea
          auto-grow
          class="input-field"
          color="#fde74c"
          label="Question"
          v-model="question.texte"
        />
        <v-combobox
          hide-selected
          persistent-hint
          color="#fde74c"
          v-model="question.theme"
          :items="listeThemes"
          label="Thème"
          :rules="[checkTheme]"
        />
        <v-btn :disabled="!this.valid" @click="submit()">
          <v-text>Envoyer</v-text>
          <v-icon>mdi-send</v-icon>
        </v-btn>
      </v-form>
      <v-card-actions>
        <v-btn class="purple-btn" flat @click="close()">Fermer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Question, Sujet } from '~/assets/scripts/question';

export default Vue.extend({
  props: {
    showModal: {
      type: Boolean,
      default: false,
    },
  },
  data: () => {
    return {
      valid: false,
      question: {
        texte: '',
        theme: '',
        titre: '',
      },

      listeThemes: Object.values(Sujet),
    };
  },

  methods: {
    submit() {
      this.question = { texte: '', theme: '', titre: '' };
    },

    checkTheme: (value: string): boolean | string => {
      return value ? true : 'Thème requis';
    },

    checkTitre: (value: string): boolean | string => {
      if (!value) {
        return 'Question requise';
      }

      return value.length <= 300 || '300 caractères maximum';
    },

    close() {
      this.$emit('close-dialog');
    },
  },
});
</script>

<style scoped></style>
