footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  margin: 10px 0px;
}

#ko-fi {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#ko-fi:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=footer.css.map */