@import 'variables.scss';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer img {
  margin: 10px 0px;
}

#ko-fi {
  transition: opacity 1s;
}

#ko-fi:hover {
  opacity: 0.6;
}
