@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@font-face {
  font-family: 'Genuine';
  src: url('Genuine.woff2') format('woff2'), url('Genuine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 16px;
}

h1 {
  font-family: 'Genuine', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

#background-image {
  background-color: #b8c6db;
  background-image: url(backgroundImage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  touch-action: none;
}

.v-application {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  z-index: 1;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  color: $white !important;
}

.input-field .v-messages__wrapper {
  color: $red !important;
  font-weight: bold;
}

.v-application--wrap {
  min-height: 0vh !important;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: max-content;
  height: 100%;
  color: $white;
}

.v-btn {
  background-color: $yellow !important;
  color: $purple !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.v-btn.purple-btn {
  background-color: $purple !important;
  border: 1px solid $yellow;
  color: $yellow !important;
}

.theme--dark.v-label {
  color: $white !important;
}

.cool-link {
  text-decoration: none;
  color: $yellow;
  font-weight: bold;
  max-width: fit-content;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $yellow;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .cool-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
