@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@font-face {
  font-family: 'Genuine';
  src: url("Genuine.woff2") format("woff2"), url("Genuine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 16px;
}

h1 {
  font-family: 'Genuine', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

#background-image {
  background-color: #b8c6db;
  background-image: url(backgroundImage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  -ms-touch-action: none;
      touch-action: none;
}

.v-application {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  z-index: 1;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  color: #e5ecf4 !important;
}

.input-field .v-messages__wrapper {
  color: #dc0073 !important;
  font-weight: bold;
}

.v-application--wrap {
  min-height: 0vh !important;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  color: #e5ecf4;
}

.v-btn {
  background-color: #fde74c !important;
  color: #3a0b69 !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.v-btn.purple-btn {
  background-color: #3a0b69 !important;
  border: 1px solid #fde74c;
  color: #fde74c !important;
}

.theme--dark.v-label {
  color: #e5ecf4 !important;
}

.cool-link {
  text-decoration: none;
  color: #fde74c;
  font-weight: bold;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
}

.cool-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fde74c;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .cool-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */