@import 'variables.scss';

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $white;
}

#contenu {
  max-width: 80vw;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
}

#liste-questions {
  max-width: 80%;
  width: 80%;
  background-color: $transparent;
  max-height: max-content;
  border-radius: 5px;
}

#filtres {
  max-width: max-content;
  padding: 5px 10px;
}

.v-dialog__content .v-card,
.v-card__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  #liste-questions {
    max-width: 95vw;
    width: 95vw;
  }
}
