#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
}

#home-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text .v-btn {
  margin: 10px 0px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 650px) {
  #home-container {
    flex-direction: column;
  }

  #home-container img {
    max-width: 80vw;
    height: auto;
  }
}
