#container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container img {
  max-width: 100px;
  height: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(41, 39, 39, 0.3);
  -webkit-box-shadow: 0 5px 30px black;
          box-shadow: 0 5px 30px black;
  border-radius: 5px;
}

.form .v-btn {
  margin: 10px 0px;
}

.log-text {
  font-size: 0.9em;
}

.message-recuperation {
  background-color: rgba(0, 117, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
/*# sourceMappingURL=login.css.map */