@import 'variables.scss';

#post {
  background-color: $transparent;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

#contenu {
  max-width: 80vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titre {
  font-size: 2em;
  margin-bottom: 5px;
}
