@import 'variables.scss';
.preview {
  height: max-content;
  padding: 10px;
}

.contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infos {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.infos .v-icon {
  font-size: 1.3em;
  margin-right: 5px;
}

.titre.cool-link {
  font-weight: bold;
  color: $white;
}

@media (max-width: 767.98px) {
  .infos {
    width: 99%;
  }

  .contenu {
    max-width: 99%;
    width: 99%;
    flex-direction: column;
  }
}
