// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$yellow: #fde74c;
$white: #e5ecf4;
$purple: #3a0b69;
$red: #dc0073;
$transparent: rgba(1, 1, 1, 0.5);
