<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <h1>Connexion</h1>
      <img src="user.webp" alt="Utilisateur‧trice" />
      <v-form v-model="valid">
        <v-container>
          <v-col cols="12" md="12" class="form">
            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="username"
              label="Nom d'utilisateur‧trice"
              :rules="[(v) => !!v || 'Nom d\'utilisateur‧trice requis']"
              required
            />

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="password"
              type="password"
              :rules="[(v) => !!v || 'Mot de passe requis']"
              label="Mot de passe"
              required
            />

            <nuxt-link class="cool-link" to="/recuperation"
              >Mot de passe oublié</nuxt-link
            >

            <v-btn :disabled="!this.valid" @click="submit()">Connexion</v-btn>

            <v-text class="log-text"
              >Pas de compte ? &nbsp;
              <nuxt-link class="cool-link" to="/inscription"
                >Inscrivez-vous</nuxt-link
              ></v-text
            >
          </v-col>
        </v-container>
      </v-form>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data: () => {
    return {
      username: '',
      password: '',
      valid: false,
    };
  },

  methods: {
    submit() {
      this.$router.push('/home');
    },
  },
});
</script>

<style>
@import 'assets/styles/global.css';
</style>

<style scoped>
@import 'assets/styles/login.css';
</style>
