<template>
  <v-app>
    <div id="background-image" />
    <v-app-bar class="navbar" color="transparent" flat tile dark>
      <v-spacer />

      <v-btn class="purple-btn" to="/profil">
        <v-icon>mdi-account</v-icon>
        <v-text>Mon profil</v-text>
      </v-btn>
    </v-app-bar>
    <h1>Ask an adult</h1>
    <div id="container">
      <v-btn color="accent" large @click="showModal = !showModal"
        >Pose ta question</v-btn
      >
      <modal :showModal.sync="showModal" @close-dialog="showModal = false" />

      <v-btn class="purple-btn" large @click="showFiltres = !showFiltres"
        >Filtres</v-btn
      >

      <v-dialog :value="showFiltres" persistent max-width="500">
        <v-card>
          <v-card-title>Filtres</v-card-title>
          <div id="filtres">
            <v-checkbox
              v-model="filtres.achats.actif"
              :label="this.filtres.achats.label"
              color="#fde74c"
            /><v-divider />
            <v-checkbox
              v-model="filtres.argent.actif"
              :label="this.filtres.argent.label"
              color="#fde74c"
            /><v-divider />
            <v-checkbox
              v-model="filtres.cuisine.actif"
              :label="this.filtres.cuisine.label"
              color="#fde74c"
            /><v-divider />
            <v-checkbox
              v-model="filtres.menage.actif"
              :label="this.filtres.menage.label"
              color="#fde74c"
            /><v-divider />
            <v-checkbox
              v-model="filtres.sante.actif"
              :label="this.filtres.sante.label"
              color="#fde74c"
            /><v-divider />
            <v-checkbox
              v-model="filtres.travail.actif"
              :label="this.filtres.travail.label"
              color="#fde74c"
            /><v-divider />
            <v-checkbox
              v-model="filtres.autre.actif"
              :label="this.filtres.autre.label"
              color="#fde74c"
            />

            <v-combobox
              v-model="tri"
              :items="optionsTri"
              label="Tri"
              color="#fde74c"
            />
          </div>
          <v-card-actions>
            <v-btn class="purple-btn" flat @click="showFiltres = false"
              >Fermer</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <div id="contenu">
        <div id="liste-questions">
          <span
            v-for="question in this.questionsFiltrees"
            :key="question.idQuestion"
          >
            <preview :question="question" />

            <v-divider />
          </span>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import QuestionModal from '~/components/QuestionModal.vue';
import Preview from '~/components/Preview.vue';
import { Question, Sujet, Tri, sortQuestions } from '~/assets/scripts/question';
export default Vue.extend({
  components: {
    modal: QuestionModal,
    preview: Preview,
  },

  mounted() {
    this.fetchQuestions();
  },

  data: () => {
    return {
      showModal: false,
      listeQuestions: [] as Question[],
      questionsFiltrees: [] as Question[],
      sujetsActifs: [] as string[],
      filtres: {
        achats: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        automobile: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        argent: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        cuisine: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        menage: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        sante: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        travail: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
        autre: {
          actif: true,
          nbQuestions: 0,
          label: '',
        },
      },
      optionsTri: Object.values(Tri),
      tri: Tri.Recent,
      showFiltres: false,
      labelFiltres: 'Afficher filtres',
    };
  },

  methods: {
    fetchQuestions: async function () {
      try {
        await fetch('questions.json')
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            for (const q of data) {
              this.listeQuestions.push(
                new Question(
                  q.titre,
                  q.texte,
                  q.id_question,
                  q.id_auteur,
                  q.timestamp,
                  q.sujet,
                  q.upvotes,
                  q.downvotes,
                  q.nb_commentaires
                )
              );
            }
          });
      } catch (err: any) {
        alert(err.message);
      } finally {
        this.questionsFiltrees = [...this.listeQuestions];
        this.trierQuestions();
        this.getSujetsActifs();
        this.compterQuestions();
      }
    },

    getSujetsActifs() {
      this.sujetsActifs = this.questionsFiltrees.map((q) => q.sujet);
    },

    fonctionComptageSujets(q: Question): void {
      switch (q.sujet) {
        case Sujet.Achats:
          this.filtres.achats.nbQuestions++;
          break;

        case Sujet.Argent:
          this.filtres.argent.nbQuestions++;
          break;

        case Sujet.Automobile:
          this.filtres.automobile.nbQuestions++;
          break;

        case Sujet.Cuisine:
          this.filtres.cuisine.nbQuestions++;
          break;

        case Sujet.Menage:
          this.filtres.menage.nbQuestions++;
          break;

        case Sujet.Sante:
          this.filtres.sante.nbQuestions++;
          break;

        case Sujet.Travail:
          this.filtres.travail.nbQuestions++;
          break;

        case Sujet.Autre:
          this.filtres.autre.nbQuestions++;
          break;

        default:
          console.error(`Sujet inconnu: "${q.sujet}"`);
          break;
      }

      return;
    },

    resetCompteurs(): void {
      this.filtres.achats.nbQuestions = 0;
      this.filtres.argent.nbQuestions = 0;
      this.filtres.automobile.nbQuestions = 0;
      this.filtres.cuisine.nbQuestions = 0;
      this.filtres.menage.nbQuestions = 0;
      this.filtres.sante.nbQuestions = 0;
      this.filtres.travail.nbQuestions = 0;
      this.filtres.autre.nbQuestions = 0;
      return;
    },

    setLabels(): void {
      this.filtres.achats.label = `Achats (${this.filtres.achats.nbQuestions})`;
      this.filtres.argent.label = `Argent (${this.filtres.argent.nbQuestions})`;
      this.filtres.automobile.label = `Automobile (${this.filtres.automobile.nbQuestions})`;
      this.filtres.cuisine.label = `Cuisine (${this.filtres.cuisine.nbQuestions})`;
      this.filtres.menage.label = `Ménage (${this.filtres.menage.nbQuestions})`;
      this.filtres.sante.label = `Santé (${this.filtres.sante.nbQuestions})`;
      this.filtres.travail.label = `Travail (${this.filtres.travail.nbQuestions})`;
      this.filtres.autre.label = `Autre (${this.filtres.autre.nbQuestions})`;
    },

    compterQuestions(): void {
      this.resetCompteurs();
      this.listeQuestions.forEach((q) => this.fonctionComptageSujets(q));
      this.setLabels();
    },

    fonctionFiltrage(q: Question): boolean {
      let b: boolean;

      switch (q.sujet) {
        case Sujet.Achats:
          b = this.filtres.achats.actif && q.sujet === Sujet.Achats;
          break;

        case Sujet.Argent:
          b = this.filtres.argent.actif && q.sujet === Sujet.Argent;
          break;

        case Sujet.Automobile:
          b = this.filtres.automobile.actif && q.sujet === Sujet.Automobile;
          break;

        case Sujet.Cuisine:
          b = this.filtres.cuisine.actif && q.sujet === Sujet.Cuisine;
          break;

        case Sujet.Menage:
          b = this.filtres.menage.actif && q.sujet === Sujet.Menage;
          break;

        case Sujet.Sante:
          b = this.filtres.sante.actif && q.sujet === Sujet.Sante;
          break;

        case Sujet.Travail:
          b = this.filtres.travail.actif && q.sujet === Sujet.Travail;
          break;

        case Sujet.Autre:
          b = this.filtres.autre.actif && q.sujet === Sujet.Autre;
          break;

        default:
          b = false;
          console.error(`Sujet inconnu: "${q.sujet}"`);
          break;
      }

      return b;
    },

    filtrerQuestions() {
      this.questionsFiltrees = this.listeQuestions.filter((q) =>
        this.fonctionFiltrage(q)
      );

      this.getSujetsActifs();
      this.setLabels();
    },

    trierQuestions() {
      this.questionsFiltrees = this.questionsFiltrees.sort(
        (a: Question, b: Question) => {
          return sortQuestions(a, b, this.tri);
        }
      );
    },

    actionFiltres() {
      if (this.showFiltres) {
        this.showFiltres = false;
        this.labelFiltres = 'Afficher filtres';
      } else {
        this.showFiltres = true;
        this.labelFiltres = 'Cacher filtres';
      }
    },
  },

  watch: {
    'filtres.achats.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.argent.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.automobile.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.cuisine.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.menage.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.sante.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.travail.actif': function () {
      this.filtrerQuestions();
    },

    'filtres.autre.actif': function () {
      this.filtrerQuestions();
    },

    tri: function () {
      this.trierQuestions();
    },
  },
});
</script>

<style>
@import 'assets/styles/global.css';
</style>

<style scoped>
@import 'assets/styles/home.css';
@import 'assets/styles/navbar.css';
</style>
