<template>
  <v-app>
    <div id="background-image" />
    <div id="home">
      <landing-navbar />

      <div id="home-container">
        <div id="text">
          <h1>Ask an adult</h1>
          <span id="description"
            >Une question d'adulte ? Une réponse d'adulte.</span
          >
          <v-btn to="/inscription">
            <v-text>Commencer</v-text>
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </div>

        <img src="people.webp" alt="People" />
      </div>
    </div>

    <my-footer />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import LandingNavbar from '~/components/LandingNavbar.vue';
import Footer from '~/components/Footer.vue';

export default Vue.extend({
  components: {
    landingNavbar: LandingNavbar,
    myFooter: Footer,
  },
});
</script>

<style>
@import 'assets/styles/global.css';
</style>

<style scoped>
@import 'assets/styles/landing.css';
</style>
