<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <h1>Inscription</h1>
      <img src="user.webp" alt="Utilisateur‧trice" />
      <v-form v-model="valid">
        <v-container>
          <v-col cols="12" md="12" class="form">
            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="mail"
              label="Adresse mail"
              :rules="[checkMail]"
              type="email"
              required
            >
              <v-icon
                v-if="validation.mail === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon v-if="validation.mail === false" slot="append" color="red"
                >mdi-close</v-icon
              >
            </v-text-field>

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="username"
              :rules="[checkUsername]"
              type="text"
              label="Nom d'utilisateur‧trice"
              required
              ><v-icon
                v-if="validation.username === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.username === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="password"
              type="password"
              :rules="[checkPassword]"
              label="Mot de passe"
              required
              ><v-icon
                v-if="validation.password === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.password === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="passwordConfirm"
              :rules="[checkPasswordMatch]"
              type="password"
              label="Confirmer le mot de passe"
              required
              ><v-icon
                v-if="validation.passwordMatch === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.passwordMatch === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-btn :disabled="!this.valid" @click="submit()">Inscription</v-btn>

            <v-text class="log-text"
              >Vous avez déjà un compte ? &nbsp;
              <nuxt-link class="cool-link" to="/connexion"
                >Connectez-vous</nuxt-link
              ></v-text
            >
          </v-col>
        </v-container>
      </v-form>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import * as EmailValidator from 'email-validator';

export default Vue.extend({
  data: () => {
    return {
      username: '',
      password: '',
      passwordConfirm: '',
      mail: '',
      valid: false,
      validation: {
        mail: null as boolean | null,
        username: null as boolean | null,
        password: null as boolean | null,
        passwordMatch: null as boolean | null,
      },
    };
  },

  methods: {
    submit() {
      this.$router.push('/home');
    },

    checkMail(value: string): boolean | string {
      if (!value) {
        return "L'adresse mail est requise";
      }

      if (EmailValidator.validate(value)) {
        this.validation.mail = true;
        return true;
      }

      this.validation.mail = false;
      return 'Adresse mail invalide';
    },

    checkPassword(value: string): boolean | string {
      if (!value) {
        return 'Le mot de passe est requis';
      }

      if (value.length >= 8) {
        this.validation.password = true;
        return true;
      }

      this.validation.password = false;
      return 'Le mot de passe doit faire au moins 8 caractères';
    },

    checkPasswordMatch(value: string): boolean | string {
      if (!value) {
        return 'La confirmation du mot de passe est requise';
      }

      if (value === this.password) {
        this.validation.passwordMatch = true;
        return true;
      }

      this.validation.passwordMatch = false;
      return 'Les mots de passe ne correspondent pas';
    },

    checkUsername(value: string): boolean | string {
      if (!value) {
        return "Le nom d'utilisateur‧trice est requis";
      }

      if (/^[a-zA-Z0-9_-]*$/.test(value)) {
        this.validation.username = true;
        return true;
      }

      this.validation.username = false;
      return "Le nom d'utilisateur‧trice ne peut contenir que les caractères a-z A-Z 0-9 _ - ";
    },
  },
});
</script>

<style>
@import 'assets/styles/global.css';
</style>

<style scoped>
@import 'assets/styles/login.css';
</style>
