<template>
  <v-app>
    <div id="background-image" />
    <v-app-bar class="navbar" color="transparent" flat tile dark>
      <v-spacer />

      <v-btn class="purple-btn" to="/profil">
        <v-icon>mdi-account</v-icon>
        <v-text>Mon profil</v-text>
      </v-btn>
    </v-app-bar>
    <h1>Ask an adult</h1>
    <v-container>
      <div id="contenu">
        <div id="post">
          <span id="titre">Lorem ipsum dolor sit amet</span>

          <span id="texte">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque purus erat, fringilla ut nisl vel, hendrerit elementum
            purus. Proin nec felis id odio commodo maximus ut vel risus. Quisque
            rutrum nulla in nisi sagittis, at dictum est rhoncus. In non tortor
            facilisis, vestibulum erat et, ultrices turpis. Etiam eu metus
            tincidunt, consequat lacus sed, varius nulla. Nullam rhoncus lacinia
            libero, ac dictum libero semper eu. Proin vulputate at velit at
            congue. Nullam rhoncus consectetur magna, a eleifend arcu molestie
            at. Etiam vel tempus ante. Nam elementum felis nunc, vitae tempus
            quam varius sed. Ut faucibus porttitor turpis, in venenatis elit
            volutpat vitae. Duis lectus elit, ullamcorper vitae ipsum sed,
            semper elementum turpis. Morbi varius feugiat nulla vel vehicula.
            Vivamus condimentum scelerisque ligula eu sollicitudin. Maecenas
            hendrerit eros facilisis magna sollicitudin, et lacinia dolor
            consectetur. <br /><br />
            Nunc rutrum nisi ut est bibendum, et finibus sem volutpat. Duis ac
            pulvinar odio. Donec ullamcorper a augue ac fermentum. Maecenas et
            auctor ante, vitae aliquam odio. Donec id lacus vitae erat dictum
            suscipit ut vel nunc. Nam tortor lorem, lacinia ac pellentesque non,
            porttitor ac ipsum. Phasellus quis lobortis arcu. Duis pulvinar,
            neque in pulvinar rutrum, eros leo facilisis dui, gravida
            ullamcorper ipsum neque placerat leo.
          </span>
        </div>
      </div>

      <div id="commentaires">
        <v-btn color="accent" large @click="showModal = !showModal"
          >Commenter</v-btn
        >
        <modal
          :idQuestion="idQuestion"
          :showModal.sync="showModal"
          @close-dialog="showModal = false"
        />
      </div>
    </v-container>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import CommentaireModal from '~/components/CommentaireModal.vue';

export default Vue.extend({
  components: {
    modal: CommentaireModal,
  },

  data: () => {
    return {
      showModal: false,
      idQuestion: 1,
    };
  },
});
</script>

<style>
@import 'assets/styles/global.css';
</style>

<style scoped>
@import 'assets/styles/post.css';
@import 'assets/styles/navbar.css';
</style>
