<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <h1>Recuperation du mot de passe</h1>
      <img src="user.webp" alt="Utilisateur‧trice" />
      <v-form v-model="valid">
        <v-container>
          <v-col cols="12" md="12" class="form">
            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="mail"
              label="Adresse mail"
              :rules="[checkMail]"
              required
            />

            <v-btn :disabled="!this.valid" @click="submit()"
              >Récupérer mot de passe</v-btn
            >

            <div class="retour">
              <nuxt-link class="cool-link" to="/connexion">Connexion</nuxt-link>
              /

              <nuxt-link class="cool-link" to="/inscription"
                >Inscription</nuxt-link
              >
            </div>
          </v-col>
        </v-container>
      </v-form>
      <span class="message-recuperation" v-if="succes">
        Les instructions de changement de mot de passe ont été envoyées avec
        succès sur votre boîte mail.
      </span>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import * as EmailValidator from 'email-validator';

export default Vue.extend({
  data: () => {
    return {
      mail: '',
      valid: false,
      succes: false,
    };
  },

  methods: {
    submit() {
      this.succes = true;
    },

    checkMail(value: string): boolean | string {
      this.succes = false;

      if (!value) {
        return "L'adresse mail est requise";
      }

      if (EmailValidator.validate(value)) {
        return true;
      }

      return 'Adresse mail invalide';
    },
  },
});
</script>

<style>
@import 'assets/styles/global.css';
</style>

<style scoped>
@import 'assets/styles/login.css';
</style>
